* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: rgba(232,234,246 ,1);
}*/

.intro {
  width: 93vw;
  float:right;

  padding: 1rem;
  margin-bottom: 1rem;

  background: rgb(0,0,0);
  color: rgb(255,255,255);
}

[class*="column-"] {
    margin-bottom: 1rem;
    margin-left:4px;
    height:400px;
    width:400px;
    float:left;
}

[class*="column-"] > div {
    background-color: rgb(190,190,190);
    height: 400px;
    line-height: 400px;
    text-align: center;
    color: rgb(255,255,255);
}

[class*="column-"]>div:hover {
    background-color: rgb(210,210,210);
    height: 400px;
    line-height: 400px;
    text-align: center;
    color: rgb(255,255,255);
}

a,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:active {
    color: rgb(0,0,0);
}


form
    {
    padding: 15px;
    width: 200px;
    
    font-family: 'questrial', sans-serif;
    font-size: small;
    
    }

label
    {
    float: left;
    width: 75px;
    margin-left:6rem;
    }
input
    {
    background-color: rgb(255,255,255);

    font-size: x-small;

    border-width: 1px;
    border-style: solid;
    border-color:rgb(0,0,0);
    
    margin-bottom: 10px;
    margin-left:6rem;
    }

textarea
    {
    width: 350px;
    height: 150px;
    background-color: rgb(255,255,255);
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0,0,0);
    
    font-family: 'questrial' sans-serif;
    font-size: small;
    
    margin-bottom: 10px;
    margin-left:6rem;
    
    }

.kaart {
    margin-left:6rem;
    }
.button {
    width: 10mm;
    height: 10mm;
    float:right;
    padding: 2px; 
        
}