* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: rgba(232,234,246 ,1);
}*/

.intro {
  width: 93vw;
  float:right;

  padding: 1rem;
  margin-bottom: 1rem;

  background: rgb(0,0,0);
  color: rgb(255,255,255);
}

[class*="column-"] {
    margin-bottom: 1rem;
    height:400px;
    width:400px;
    float:left;

    
}

/*[class*="column-"] > div {
    background-color: rgb(255,255,255);
    border: solid;
    border-color: rgb(190,190,190);
    height: 400px;
    width:400px;
    line-height: 400px;
    text-align: center;
    color: rgb(255,255,255);
}*/

[class*="column-"]>div:hover {
    background-color: rgb(210,210,210);
    height: 400px;
    line-height: 400px;
    text-align: center;
    color: rgb(255,255,255);
}

a{color: rgb(255, 255, 255);
    text-decoration: none;}
a,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:active {
    color: rgb(0,0,0);
}

.images {
    width: 400px;
    height: 400px;
    margin-bottom:5rem;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    
}
.container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: rgb(190,190,190);
    opacity:0.8;
   margin-left:0.5rem;
}
.container:hover .overlay {
    display: block;
    background: rgb(190, 190, 190);
    
}

.diensten {
  position: relative;
  height: 400px;
  width: 400px;
  
  
}
.diensten:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  /*opacity: 0;*/
 
}
/*.diensten:hover:before {
  opacity: 0.8;
}*/

.text{  color: rgb(255,255,255);
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}



.button {
    width: 10mm;
    height: 10mm;
    float:right;
    padding: 2px; 
        
}