* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: rgba(232,234,246 ,1);
}*/

.intro {
  width: 93vw;
  float:left;
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
}

.images {
  margin: 1rem;
  width: 10%;
}
  
.kleur{
  float:left;
  margin: 2rem;
}




