* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: rgba(232,234,246 ,1);
}





[class*="col-"] {
    background-color: rgb(211,211,211);
    float: left;
    padding: 20px;
    margin:2rem;
    margin-right: 1rem;
    width: 300px;
    height: 300px;
    text-align: center;
    color: rgb(255,255,255);
}



