* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: rgba(232,234,246 ,1);
}

.intro {
  width: 98vw;
  float:right;

  padding: 1rem;
  margin-top: 1rem;

  background: rgb(150,150,150);
  color: rgb(255,255,255);
}*/

[class*="column-"] {
    margin-bottom: 1rem;
}

[class*="column-"] > div {
    background-color: rgb(190,190,190);
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: rgb(255,255,255);
}

[class*="column-"]>div:hover {
    background-color: rgb(210,210,210);
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: rgb(255,255,255);
}


a,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:active {
    color: rgb(0,0,0);
}



