body {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: 2rem;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}

